<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<h1 class="title">{{title}}</h1>
<nav>
    <ul class="list">
        <li ><a class="list-item" href="/">home</a></li>
        <li ><a class="list-item" href="/about">about</a></li> 
        <li ><a class="list-item" href="/help">help</a></li>
    </ul>
</nav>