
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{>header}}
    <p>It uses data from mapbox.com and weathersack.net</p>
    <img src="/image/me.png" alt="">
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html> 